---
jenkins_user: "{{ jenkins_user }}"
instance:
    id: "{{ create_result.instance.id }}"
    private_ip: "{{ create_result.instance.primary_private_ip }}"
    ad: "{{ instance_ad }}"
    compartment: "{{ instance_compartment }}"
    image: "{{ instance_image }}"
    shape: "{{ instance_shape }}"
    subnet_id: "{{ instance_subnet_id }}"
