# Ansible Managed Configuration

local   all    all                       trust
host    all    all    127.0.0.1/32       trust
{% for instance in (app_instances) %}
host    all    all    {{ instance.primary_private_ip }}/32    trust # {{ instance.display_name }}
{% endfor %}
