# Written by Check_MK store (2021-01-15 15:38:21)

user_connections += [{'comment': u'', 'cache_livetime': 300, 'description': u'', 'bind': (u'{{ secrets['bind-username'] }}', '{{ secrets['bind-password'] }}'), 'directory_type': ('ad', {'connect_to': ('fixed_list', {'server': 'sfodc-dc-01.corp.ezrez'})}), 'group_scope': 'sub', 'disabled': False, 'group_dn': u'ou=Groups,dc=corp,dc=ezrez', 'user_dn': u'cn=users,dc=corp,dc=ezrez', 'docu_url': '', 'user_scope': 'sub', 'active_plugins': {'alias': {}, 'email': {}, 'groups_to_roles': {'admin': [(u'cn=MonitorAdmins,ou=Groups,dc=corp,dc=ezrez', 'SFODC-DC')], 'user': [(u'cn=Monitoring,ou=Groups,dc=corp,dc=ezrez', 'SFODC-DC')]}, 'auth_expire': {}}, 'id': 'SFODC-DC', 'user_id_umlauts': 'keep'}]
