
$TTL    86400
@       IN      SOA     dns01.{{ zone }}. root.{{ zone }}.  (
                                      2020041602        ; Serial
                                      28800             ; Refresh
                                      14400             ; Retry
                                      3600000           ; Expire
                                      86400 )           ; Minimum

        NS      dns01.{{ zone }}.
        NS      dns02.{{ zone }}.
2.11    IN  PTR     dns01.{{ zone }}.
3.11    IN  PTR     dns02.{{ zone }}.
2.33    IN  PTR     jenkins.shared-resources.my.domain.
