[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
C = US
ST = ST
L = Location
O = Company
OU = OCILoadBalancer
CN = {{ client_name }}.{{ env_type }}.my.domain

[v3_req]
keyUsage = critical, digitalSignature, keyAgreement
extendedKeyUsage = serverAuth
