---
volume:
  display_name: "{{ volume_result.volume.display_name }}"
  id: "{{ volume_result.volume.id }}"
  size_in_gbs: "{{ volume_result.volume.size_in_gbs }}"
  compartment_id: "{{ volume_result.volume.compartment_id }}"
  availability_domain: "{{ volume_result.volume.availability_domain }}"
