---
jenkins_user: "{{ jenkins_user }}"
instance:
    id: "{{ instance_id }}"
    private_ip: "{{ instance_private_ip }}"
    ad: "{{ instance_ad }}"
    compartment: "{{ instance_compartment }}"
    image: "{{ instance_image }}"
    shape: "{{ instance_shape }}"
    subnet_id: "{{ instance_subnet_id }}"